/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    color: #444444;
  }
  
  a {
    color: #321017;
    text-decoration: none;
  }
  
  a:hover {
    color: #742535;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }

  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    background-color: #000000fa;
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 60px;
  }
  
  #header .header-scrolled .img-fluid{
    background-image: url(../img/logo.png);
    max-height: 60px;
  }

  #header.header-scrolled,
  #header.header-inner-pages {
    background: rgba(0, 0, 0, 0.9);
    padding: 12px 0;
  }



  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
      padding: 0;
    }
    
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
    
    .navbar li {
      position: relative;
    }
    
    .navbar>ul>li {
      white-space: nowrap;
      padding: 10px 0 10px 24px;
    }
    
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 15px;
      padding: 0 4px;
      white-space: nowrap;
      transition: 0.3s;
      letter-spacing: 0.4px;
      position: relative;
    }
    
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    
    .navbar>ul>li>a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: #47141e;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    
    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
      visibility: visible;
      transform: scaleX(1);
    }
    
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }
    
    
    /**
    * Mobile Navigation 
    */
    .mobile-nav-toggle {
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      display: none;
      line-height: 0;
      transition: 0.5s;
    }
    
    @media (max-width: 991px) {
      .navbar-mobile{
            height: 50%;
      }
      .mobile-nav-toggle {
        display: block;
      }
    
      .navbar ul {
        display: none;
      }
    }
    
    .navbar-mobile {
      position: fixed;
      overflow: hidden;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(45, 37, 38, 0.9);
      transition: 0.3s;
      z-index: 999;
    }
    
    .navbar-mobile .mobile-nav-toggle {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    
    .navbar-mobile ul {
      display: block;
      position: absolute;
      top: 55px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      padding: 10px 0;
      background-color: #fff;
      overflow-y: auto;
      transition: 0.3s;
    }
    
    .navbar-mobile>ul>li {
      padding: 0;
    }
    
    .navbar-mobile a:hover:before,
    .navbar-mobile li:hover>a:before,
    .navbar-mobile .active:before {
      visibility: hidden;
    }
    
    .navbar-mobile a,
    .navbar-mobile a:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: #493c3e;
    }
    
    .navbar-mobile a:hover,
    .navbar-mobile .active,
    .navbar-mobile li:hover>a {
      color: #321017;
    }
    
    .navbar-mobile .getstarted,
    .navbar-mobile .getstarted:focus {
      margin: 15px;
    }



    /*--------------------------------------------------------------
# Contact-section
--------------------------------------------------------------*/

.contact-info h3,h4{
      font-weight: 600;
      font-size: 2vh;
}

.contact-info { 
      margin-top: -35px;
} 
.contact-info i { 
      font-weight: 600; font-size: 2.5vh;
}
.logo-page{
      margin-top: 65px;
}

@media (min-width: 330px) { .contact-info h3,h4{ font-weight: 600; font-size: 2vh;} .contact-info { margin-top: -60px;} .contact-info i { font-weight: 600; font-size: 2.5vh;} .logo-page { margin-top: 60px;} }

@media (min-width: 440px) { .contact-info h3,h4{ font-weight: 600; font-size: 2vh;} .contact-info { margin-top: -70px;} .contact-info i { font-weight: 600; font-size: 2.5vh;} .logo-page { margin-top: 35px;} }

@media (min-width: 576px) { .contact-info h3,h4{ font-weight: 600; font-size: 2vh;} .contact-info { margin-top: -50px;} .contact-info i { font-weight: 600; font-size: 2.5vh;} .logo-page { margin-top: 60px;} }

@media (min-width: 768px) {  .contact-info h3,h4{ font-weight: 600; font-size: 3vh;} .contact-info { margin-top: -65px;} .contact-info i { font-weight: 600; font-size: 4vh;} .logo-page { margin-top: 0px;} }

@media (min-width: 992px) { .contact-info h3,h4{ font-weight: 600; font-size: 3vh;} .contact-info { margin-top: -70px;} .contact-info i { font-weight: 600; font-size: 4vh;} .logo-page { margin-top: 0px;} }

@media (min-width: 1200px) {  .contact-info h3,h4{ font-weight: 600; font-size: 4vh;} .contact-info { margin-top: -90px;} .contact-info i { font-weight: 600; font-size: 5vh;} .logo-page { margin-top: 0px;} }


        /*--------------------------------------------------------------
# Footer-section
--------------------------------------------------------------*/

#footer {
      color: #444444;
      font-size: 14px;
      background: #000000fa;
      box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    }
    
    #footer .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #321017;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }
    #footer .social-links a:hover{
      background: #551925;
    }